<button class="flex flex-row justify-center items-center gap-3 cursor-pointer" type="button" (click)="toggleModal()">
    <div class="">
        {{text}}
    </div>

    <div class="">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-9">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
        </svg>
    </div>
</button>

<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex m-6">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                <h3 class="text-3xl font-semibold text-slate-900">
                    Wie wird gespielt
                </h3>
                <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleModal()">
                    <span
                        class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                        ×
                    </span>
                </button>
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto">
                <ol class="my-4 text-slate-800 text-lg leading-relaxed list-decimal ml-3">
                    <li class="pl-2">Du wählst zuerst ein Würfel-Preset aus.</li>
                    <li class="pl-2">Du drückst auf Start</li>
                    <li class="pl-2">Druch drücken auf einen der Würfel wird eine Seite zufällig gewürfelt</li>
                    <li class="pl-2">Dann machst du das gleiche mit dem 2. Würfel</li>
                    <li class="pl-2">Jetzt muss das getan werden, was der Würfel anzeigt</li>
                    <li class="pl-2">Wenn die Aufgaben erfüllt wurden, drückst du auf den Button "Nächster"</li>
                </ol>
            </div>
            <!--footer-->
            <div class="flex items-center justify-end p-4 border-t border-solid border-blueGray-200 rounded-b">
                <button
                    class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-m px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="toggleModal()">
                    Ab gehts!
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>