<div class="w-screen flex justify-center">
    <div class="container landing-wrapper flex flex-col rounded-lg bg-slate-700 m-3 p-3 text-gray-100">

        <div class="flex justify-center items-center text-4xl p-4 font-semibold">Würfel-Trinkspiel</div>
        
        <div class="flex justify-center items-center text-xl mt-4">Wähle Würfelset aus den Presets aus</div>
        <!-- hier kommen Bilder mit den ausgewählten Würfeln hin -->
        <div class="grid grid-cols-2 dice-preset gap-3 mt-5">
            <!-- <div class="dice-preset-item  flex justify-center items-center">
                <app-dice-preset [title]="'test'"></app-dice-preset>
            </div>

            <div class="dice-preset-item flex justify-center items-center">
                <app-dice-preset></app-dice-preset>
            </div>

            <div class="dice-preset-item flex justify-center items-center">
                <app-dice-preset></app-dice-preset>
            </div>

            <div class="dice-preset-item flex justify-center items-center">
                <app-dice-preset></app-dice-preset>
            </div> -->

            <div *ngFor="let dicePreset of presetList">
                <app-dice-preset [title]="dicePreset.title"></app-dice-preset>
            </div>
        </div>
        
        <!-- <app-accordion>Hier kommt ein Accordion mit den Spielregeln hin hin</app-accordion> -->
        <div class="flex justify-center">
                <button class="bg-blue-500 text-white py-2 px-4 rounded-full w-64 h-16 text-5xl font-semibold">Start</button>
            <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded-xl">Start</button> -->
        </div>
        

    </div>
</div>
